.report{
    padding: 10px;
    overflow: auto;
    height: 100%;
    table{
        border: 1px solid black;
        border-collapse: collapse;
        th {
            border:1px solid #000;
            border-bottom:2px solid #000;
            padding: 10px;
         }
         td {
            padding: 4px;
            padding-left: 10px;
            width: 0;
            white-space: nowrap;
            border: 0.5px solid black;
            text-align: center;
          }
    }
}