.AdCardContainer{
    overflow-x: hidden;
    padding: 10px;
    &.not-loaded{
        .AdCard{
            display: block;
            &.done{
                display: none;
            }
        }
    }
    &.loaded{
        .AdCard{
            display: none;
            &.done{
                display: block;
            }
        }
    }
}