.white-c{
    color: white;
}
.deep-grey-c{
    color: rgb(105, 105, 105);
}
.water-blue-c{
    color: #2688ff;
}
.black-c{
    color: #000000;
}
.secondary-c{ color: rgb(131, 131, 131);}
.green-c{color: green;}
.orange-c{color: orange;}
.red-c{color: rgb(255, 71, 71);}