.font-30{
    font-size: 30px;
}
.font-20{
    font-size: 20px;
}
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-15{
    font-size: 15px;
}
.font-17{
    font-size: 17px;
}

.font-bold{
    font-weight: bold;
}
